.container {
  margin: 0 auto;
}

/* title recipe */
.title-pages {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  margin: 3px 3px 3px 3px;
}

 /* title Steps to be a chef : */
.steps {
  font-family: "Chocolate Classical Sans", sans-serif;;
  color: #A2580E;
  text-align: center;
  background-color: #e9e373;
  border-radius: 100px;
  margin: 10px 10px 5px 10px;
}

/* div image recete, ingredients, minutes et difficulté*/
.card-show-image-ingredients {
  display: flex;
  justify-content: space-evenly;
}

/* photo de la recette*/
.show-recipe-photo {
  border-radius: 10px;
  margin: 5px 3px 3px 3px;
}

.icons-show-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-inline: 5px;
}

.chef-toque-icon {
  width: 20px !important;
  height: auto !important;
}

.montre-icon {
  width: 20px !important;
  height: auto !important;
  margin-left: 5px !important;
}

/* title ingredients*/
.card-ingredients-show h3 {
  text-align:left;
  font-family: "Poppins", sans-serif;
}

/* title et ingredients*/
.card-ingredients-show {
  font-family: "Poppins", sans-serif;
}

.list-ingredients-show {
  margin-left: 2px;
}

/* message de congratulations*/
.message-congratulations {
  display: flex;
  background-color: #DCF57A;
  border-radius: 100px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.message-congratulations h3 {
  font-family: "Quando", serif;
  font-size: 1.1rem;
  color: #874605;
}
